<div class="row">
	<div class="col-xs-12 col-md-6">
		<h1>Login</h1>
		<form>
			<div class="form-group">
				<label>
					Username:
					<input type="text" class="form-control" ng-model="user.username" />
				</label>
			</div>

			<div class="form-group">
				<label>
					Password:
					<input type="password" class="form-control" ng-model="user.password" />
				</label>
			</div>
			<button type="submit" class="btn btn-default" ng-click="login()">Login</button>
		</form>
		<div class="hidden-md hidden-lg">
			<hr>
		</div>
	</div>

	<div class="col-xs-12 col-md-6">
		<h1>Register</h1>
		<form>
			<div class="form-group">
				<label>
					Username:
					<input type="text" class="form-control" ng-model="newUser.username" />
				</label>
			</div>

			<div class="form-group">
				<label>
					Password:
					<input type="password" class="form-control" ng-model="newUser.password" />
				</label>
			</div>
			<button type="submit" class="btn btn-default" ng-click="register()">Register</button>
		</form>
	</div>
</div>
